.header{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    width: 192px;
    height: 49px;
    margin: 60px 0px 0px 120px;
    background-image: url(./assets/header-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}